<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.ClassroomRepository">
    <insert id="insert" parameterType="classroomEntity">
        INSERT INTO classroom VALUES (#{id},#{name})
    </insert>
    <delete id="delete" parameterType="Integer">
        DELETE FROM classroom WHERE id=#{id}
    </delete>
    <update id="update" parameterType="classroomEntity">
        UPDATE classroom SET name=#{name} WHERE id=#{id}
    </update>
    <select id="select" resultType="classroomEntity">
        SELECT * FROM classroom
    </select>
    <select id="selectOne" parameterType="Integer" resultType="classroomEntity">
        SELECT * FROM classroom WHERE id=#{id}
    </select>
</mapper>